<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyc.mapper.ExceptionLogMapper">

    <resultMap id="BaseResultMap" type="com.lyc.model.po.ExceptionLog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="module" column="module" jdbcType="VARCHAR"/>
            <result property="uri" column="uri" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="errorMethod" column="error_method" jdbcType="VARCHAR"/>
            <result property="message" column="message" jdbcType="VARCHAR"/>
            <result property="params" column="params" jdbcType="VARCHAR"/>
            <result property="requestMethod" column="request_method" jdbcType="VARCHAR"/>
            <result property="ipAddress" column="ip_address" jdbcType="VARCHAR"/>
            <result property="ipSource" column="ip_source" jdbcType="VARCHAR"/>
            <result property="os" column="os" jdbcType="VARCHAR"/>
            <result property="browser" column="browser" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,module,uri,
        name,description,error_method,
        message,params,request_method,
        ip_address,ip_source,os,
        browser,create_time
    </sql>

    <select id="selectLogList" resultType="com.lyc.model.po.ExceptionLog">
        SELECT
            tel.id,
            `module`,
            uri,
            `name`,
            description,
            error_method,
            message,
            request_method,
            ip_address,
            ip_source,
            os,
            browser,
            create_time
        FROM (
            SELECT id FROM t_exception_log
             <where>
                 <if test="condition.optModule!=null">
                     `module` like concat('%',#{condition.optModule},'%')
                 </if>
                 <if test="condition.keyword!=null">
                     OR description like concat('%',#{condition.keyword},'%')
                 </if>
             </where>
            ORDER by id DESC LIMIT #{limit},#{size}) temp
        LEFT JOIN t_exception_log tel ON temp.id=tel.id
    </select>
</mapper>
