<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lyc.mapper.VisitLogMapper">

    <resultMap id="BaseResultMap" type="com.lyc.model.po.VisitLog">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="page" column="page" jdbcType="VARCHAR"/>
            <result property="ipAddress" column="ip_address" jdbcType="VARCHAR"/>
            <result property="ipSource" column="ip_source" jdbcType="VARCHAR"/>
            <result property="os" column="os" jdbcType="VARCHAR"/>
            <result property="browser" column="browser" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,page,ip_address,
        ip_source,os,browser,
        create_time
    </sql>
    <delete id="deleteVisitLog">
        delete
        from t_visit_log
        where create_time &lt;= #{endTime}
    </delete>

    <select id="selectUserViewList" resultType="com.lyc.model.vo.UserViewVO">
        select count(distinct ip_address)           as uv,
               count(create_time)                   as pv,
               DATE_FORMAT(create_time, '%Y-%m-%d') as `date`
        from t_visit_log
        where create_time &gt; #{startTime}
          AND create_time &lt;= #{endTime}
        group by DATE_FORMAT(create_time, '%Y-%m-%d')
    </select>
</mapper>
